.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
}

.active{
border:2px solid blue;
border-radius: 5px;
}

.main-background{
background: url(../img/background.jpg);
color: white;
}
